* {
  font-family: Abel;
}
.page-content {
  width: 100%;
  max-width: 500px;
}
.form-content {
  margin: 0 auto;
}
.form-product-button {
  font-size: 1rem;
}
.field {
  font-family: Abel;
  font-size: 1.1rem;
}