* {
  font-family: Abel;
}
.page-content {
  display: flex;
  justify-content: center;
}
.form-page {
  width: 100%;
  max-width: 400px;
}
.form-store-btn {
  font-size: 1rem;
}
.field {
  font-family: Abel;
  font-size: 1.1rem;
}