<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="page-content">
    <div class="form-page"> 
      <form novalidate class="register-form" [formGroup]="form">
        <div>
          <ion-item class="form-field">
            <ion-label class="field" position="stacked">Nombre
              <span class="required">*</span>
            </ion-label>
            <ion-input class="ion-text-capitalize" type="text" formControlName="name"></ion-input>
          </ion-item>
          <div *ngIf="nameField.errors && nameField.touched">
            <ion-text class="form-error" color="danger" *ngIf="nameField.hasError('required')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span>Este campo es requerido</span>
            </ion-text>
          </div>
        </div>
        <div class="form-field">
          <ion-item>
            <ion-label class="field" position="stacked">Nit
              <span class="required">*</span>
            </ion-label>
            <ion-input type="number" formControlName="nit"></ion-input>
          </ion-item>
          <div *ngIf="nitField.errors && nitField.touched">
            <ion-text class="form-error" color="danger" *ngIf="nitField.hasError('required')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span>Este campo es requerido</span>
            </ion-text>
            <ion-text class="form-error" color="danger" *ngIf="nitField.hasError('min')">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span></span>
            </ion-text>
            <ion-text class="form-error" color="danger" *ngIf="nitField.hasError('max')">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span>El nit debe ser mas largo</span>
            </ion-text>
          </div>
        </div>

        <div *ngIf="currentLatitude && currentLongitude">
          <here-map 
            (location)="getLocation($event)"
            [currentLatitude]="currentLatitude"
            [currentLongitude]="currentLongitude"
            addressText="Dirección"
            validateBtnText="Confirmar"
          >
          </here-map>
        </div>

        <div class="form-field">
          <ion-item>
            <ion-label class="field" position="stacked">Celular</ion-label>
            <ion-input type="number" formControlName="cellPhone"></ion-input>
          </ion-item>
        </div>
        <div class="form-field">
          <ion-item>
            <ion-label class="field" position="stacked">Telefono</ion-label>
            <ion-input type="number" formControlName="localPhone"></ion-input>
          </ion-item>
        </div>
        <ion-button
          type="submit"
          class="form-store-btn ion-margin-top"
          (click)="createStore()" 
          expand="block" 
          fill="outline">Crear tienda</ion-button>
      </form>
    </div>
  </div>
</ion-content>

