* {
  font-family: Abel;
}
.register-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-button {
  margin-top: 3rem;
  font-size: 1rem;
}
.field {
  font-family: Abel;
  font-size: 1.1rem;
}